<div class="card my-5">
    <h5 class="card-header bg-dark">Stats</h5>
    <div class="card-content d-flex text-center">
        <div class="card-body">
            <h5 class="card-title">Nombre d'utilisateurs</h5>
            <p class="card-text pb-1">213</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Nombre de sources</h5>
            <p class="card-text pb-1">659</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Nombre de challenges</h5>
            <p class="card-text pb-1">34</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Nombre de formations</h5>
            <p class="card-text pb-1">14</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>