<div class="card">
    <div class="d-flex justify-content-between">
        <div class="fs-4 p-3">Les sources</div>
        <div class="p-3">
            <div class="dropdown">
                <a class="btn btn-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Par catégorie
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr class="col text-light bg-dark">
                <th scope="col">Titre</th>
                <th scope="col">Catégorie</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="col bg-light">
                <th>Pyramide</th>
                <th>Pyramide</th>
                <th class="text-end"><a href="#"><i class="fa-solid fa-trash"></i></a><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></th>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-end p-3">
        <button class="btn btn-light" type="button" (click)="ShowAddSource()" *ngIf="!showAddSource">Ajouter une source</button>
    </div>
</div>

<app-index-add-source *ngIf="showAddSource" (hideAddSource)="HideAddSource()"></app-index-add-source>
