<header>
        <a class="logo" routerLink="dashboard" routerLinkActive="active">Parralel</a>
        <nav>
            <ul class="navLinks">
                <li><a routerLink="dashboard" routerLinkActive="active" >Dashboard</a></li>
                <li><a routerLink="challenges" routerLinkActive="active">Challenges</a></li>
                <li><a routerLink="apropos" routerLinkActive="active">A propos</a></li>
            </ul>
        </nav>
</header>