<div class="card">
  <div class="d-flex justify-content-between">
    <div class="fs-4 p-3">Les challenges</div>
    <div class="p-3">
        <div class="dropdown">
            <a class="btn btn-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Par catégorie
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
  </div>
    <div class="card-body">
        <table class="table">
            <thead>
              <tr class="col text-light bg-dark">
                <th scope="col">Titre</th>
                <th scope="col">Catégorie</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="col bg-light" *ngFor="let challenge of challenges">
                <th>{{challenge.title}}</th>
                <th>{{challenge.category}}</th>
                <th class="text-end">
                  <button (click)="DeleteChallenge(challenge.id)"><i class="fa-solid fa-trash"></i></button>
                  <button (click)="ShowEditChallenge(challenge)" ><i class="fa-solid fa-pen-to-square"></i></button>
                </th>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="d-flex justify-content-end p-3">
      <button class="btn btn-light" type="button" (click)="ShowAddChallenge()" *ngIf="!showAddChallenge">Ajouter un challenge</button>
    </div>
</div>
<app-index-add-challenge *ngIf="showAddChallenge" (hideAddChallenge)="HideAddChallenge()"></app-index-add-challenge>
<app-index-edit-challenge *ngIf="showEditChallenge" [challenge]="challenge" (hideEditChallenge)="HideEditChallenge()"></app-index-edit-challenge>

