<div class="card my-5">
    <h5 class="fs-4 p-3">Ajouter un challenge</h5>
    <form class="" *ngIf="addChallengeForm" [formGroup]="addChallengeForm" (ngSubmit)="onSubmit()">
        <div class="d-flex justify-content-evenly">
            <input type="text" placeholder="Titre du challenge" formControlName="title">
            <div class="dropdown">
                <select formControlName="category">
                    <option value="" disabled selected>Selectionner un catégorie</option>
                    <option value="html">html</option>
                    <option value="js">js</option>
                    <option value="php">php</option>
                </select>
            </div>
        </div>
        <textarea formControlName="description" class="form-control my-4 w-75 mx-auto" rows="4" placeholder="Description du challenge"></textarea>
        <div class="card-body d-flex justify-content-end">
            <button class="btn btn-light border-white" type="button" (click)="HideAddChallenge()" *ngIf="hideAddChallenge">Annuler</button>
            <input type="submit" class="btn btn-dark mx-3" value="Ajouter un challenge">
        </div>
    </form>
</div>

