<div class="card my-5">
    <h5 class="fs-4 p-3">Ajouter une source</h5>
    <form action="" class="d-flex justify-content-evenly">
        <input type="text" placeholder="Titre de la source">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle bg-white text-dark border-white w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Selectionner une catégorie
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Categorie 1</a></li>
                <li><a class="dropdown-item" href="#">Categorie 2</a></li>
                <li><a class="dropdown-item" href="#">Categorie 3</a></li>
            </ul>
        </div>
    </form>
    <div class="card-body d-flex justify-content-end">
        <button class="btn btn-light border-white" type="button" (click)="HideAddSource()" *ngIf="hideAddSource">Annuler</button>
        <button class="btn btn-dark mx-3" type="button">Ajouter un challenge</button>
    </div>
</div>