// Reset CSS 


html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas ,details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    width: 100%;
	font-family: Montserrat, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



// Css header et Nav Bar 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
	box-sizing: border-box;
}

li, a {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size:16px;
	color: rgb(75, 75, 75);
	text-decoration: none;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	width: 90%;
	margin: auto;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	background-color: rgba(128, 128, 128, 0.271);
}

.logo{
	cursor: pointer;
}
.logo:hover{
	color: black;
	font-weight: bold;
	font-size : 22px;
	transition: all 0.3s ease 0s;

}


.navLinks{
	list-style: none;
}
.navLinks li {
	display: inline-block;
	padding: 0px 20px;
}
.navLinks li a {
	transition: all 0.3s ease 0s;
}
.navLinks li a:hover{
	color: black;
	font-weight: bold;
	font-size : 22px;
	transition: all 0.3s ease 0s;
}

.card{
    background-color: rgb(180, 180, 180);
    border: 3px dashed;
}

.table{
    border: 1px solid black;
}

i {
    padding: 0 10px 0 10px;
}