<div class="container">
    <app-index-stats></app-index-stats>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <app-index-sources></app-index-sources>
        </div>
        <div class="col-6">
            <app-index-challenges></app-index-challenges>
        </div>
    </div>
</div>